:root{
    --teal: #317773;
    --lav: #E2D1F9;
}

*{
    color:var(--teal);
    background-color: var(--lav);
    margin: 0px;
}

p{
    padding: 10px;
    text-indent: 3%;
}

header{
    background-color:var(--lav);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* this is my name on top of the page*/
#name{
    padding-left: 50px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-top: 10px;
    height: 30px;
    background-color: white;
    border-color: var(--teal);
    border-style: solid;
}
/*this is my navbar extensions*/
#navbar ul{
    display: flex;
    width: 450px;
    justify-content: space-evenly;
    margin-right: 15px;
    list-style: none;
    font-size: 23px;
}

#navbar a:hover{
    background-color: bisque;
    cursor: hand;
}
/*this is my image of myself*/
.fun img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
}
/* this is my heading*/
.fun{
    position: relative;
    text-align: center;
    color: white;
    height: 200px;
    background-image: url("assets/pexels-fwstudio-129731.jpg");
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: flex-end;
    padding: 40px;
}

#image-text{
    background-color:white;
    border-color: var(--teal);
    border-style: solid;
    padding-left: 10px;
    padding-right: 10px;
}
/*these are all my project headings*/
h3{
    font-size: 25px;
}

#about-me{
    font-size: 40px;
    position: absolute;
    margin-left: 100px;
}
/*my bio on me*/
#bio{
    margin-top: 40px;
    margin-left: 300px;
    font-size: 20px;
    border-left: 5px;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
}

#work{
    font-size: 40px;
    position: absolute;
    margin-left: 100px;
}
/*these are all my projects*/
#main{
    margin-top: 20px;
    margin-left: 300px;
    border: 5px;
    border-style: solid;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
}

article img{
    width: 400px;
    height: 230px;
}

article h3{
    margin: 10px;
}

#primary img{
    width: 840px;
    height: 460px;
}

#main article{
    display: flex;
    flex-wrap: wrap;
    display: inline-block;
    margin: 20px;
}

#contact{
    font-size: 40px;
    position: absolute;
    margin-left: 80px;
    margin-top: 0px;
}
/*these are my ways of contact*/
#user ul{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin-left: 300px;
    font-size: 20px;
    list-style: none;
    border-left: 5px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    padding: 10px;
    margin-top: 20px;
}

#user ul{
    flex: auto;
    justify-content: space-evenly;
    line-height: 1.5;
}
.me{
    text-decoration: underline;
}

#resume{
    font-size: 40px;
    position: absolute;
    margin-left: 100;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    font-size: 20px;
}

img:hover{
    box-shadow: 5px 5px 20px 5px var(--teal);
    opacity: .8;
}

.fun img:hover{
    opacity: 1;
    box-shadow: 0px 0px 0px 0px;
}
/*when screen gets tablet size the 1st project image will resize to the rest of the image sizes*/
@media screen and (max-width:1200px){
    #primary img{
        width: 400px;
        height: 230px;
    }
}
/*when the screen reaches mobile size the collum aspect will delete, the navbar will become block, and the contact section will become block as well*/
@media screen and (max-width:800px) {
    #navbar ul{
        display: block;
        align-items: flex-end;
        margin-left: 320px;
        line-height: 2;
        margin-top: -60px;
    }
    #about-me{
        margin-top: -32px;
    }
    #bio{
        padding: 0px;
        margin-left: 0px;
        border-left: 0px;
        border-top: 5px;
        border-style: solid;
    }
    #work{
        margin-top:-32px;
    }
    #main{
        margin-left: 0px;
        margin-top: 50px;
        border-left: 0px;
        border-top: 5px;
        border-style: solid;
    }
    #contact{
        margin-top: -32px;
    }
    #user ul{
        margin-left: 0px;
        border-top: 5px;
        margin-top: 50px;
        border-left: 0px;
        border-style: solid;
        display: block;
    }
}